//color definitions
$color_1: #00c1b5;
$color_2: #ff651a;
$color_3: #ffbe00;
$color_4: #1d3fbb;
$color_5: #e30512;
$color_positive: #000;
$color_negative: #fff;

$colors: $color_1, $color_2, $color_3, $color_4, $color_5;

.color-1 {
  background-color: #00c1b5;
}
.color-2 {
  background-color: #ff651a;
}
.color-3 {
  background-color: #ffbe00;
}
.color-4 {
  background-color: #1d3fbb;
}
.color-5 {
  background-color: #e30512;
}
